# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.egg-info/
.pytest_cache/

# Environments
.venv/
venv/
.env

# OS junk
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# LaTeX build artefacts
*.aux
*.log
*.out
*.bbl
*.blg
*.synctex.gz
